<div class="task-component">
    <%= form_for task do |f| %>
        <%= f.hidden_field :status, value: "complete" %>
        <div class="complete icon">
            <%= f.submit value: "" %>
        </div>
    <% end %>
</div>