<div class="task-component">
    <%= form_with(model: task, local: true) do |f| %>
        <%= f.hidden_field :status, value: "complete" %>
        <div class="complete icon flex-icon">
            <%= f.submit value: "" %>
        </div>
    <% end %>
</div>