<div class="task-component">
    <%= form_with(model: task, method: :delete, url: [project, task]) do |f| %>
        <div class="delete icon">
        <%= f.submit value: "" %>
        </div>
    <% end %>
</div>