  <div class="field">
  <%= f.text_field :content %>
  </div>

  <label for="deadline">Goal Date</label><br>
  <div class="field">
  <%= f.date_field :deadline, min: Time.zone.today %>
  </div>