<h1>All Tasks</h1>

<table>
<tr>
<th></th>
<th>Task</th>
<th>Project</th>
<th>Deadline</th>
</tr>

<% @tasks.each do |t| %>
  <tr>
    <%= render partial: '/tasks/user_task_list', locals: { t: t } %>
  </tr>
<% end %>

</table>

