<h1>Add a Task</h1>

<%= form_with(model: @task) do |f| %>

  <%= render partial: 'form', locals: {f: f} %>

  <%= f.hidden_field :project_id, value: @project.id %>

  <%= f.submit "Add Task"%>

<% end %>