<div class="field">
<label for="title">Title</label><br>
<%= f.text_field :title %>
</div>

<div class="field">
<label for="description">Description</label><br>
<%= f.text_field :description %>
</div>

<div class="field">
<label for="deadline">Goal Date</label><br>
<%= f.date_field :deadline, min: Time.zone.today %>
</div>