<h1>Edit Project Details</h1>

<%= form_with(model: @project) do |f| %>

  <%= render partial: 'form', locals: {f: f} %>

<%= f.submit %>
<% end %>

<p>Back to <%= link_to @project.title, project_path(@project) %></p>