<h1>Start a Project</h1>

<%= render partial: '/layouts/flash_message_center' %>

<%= form_with(model: @project, local: true) do |f| %>

  <%= render partial: 'form', locals: {f: f} %>

<%= f.submit %>
<% end %>