<h1>Permissions: <%= @project.title %></h1>

<h3>Current Collaborators</h3>
<table>
<th>
Name
</th>
<th>
Email
</th>
<th>
Access Level
</th>
<% @collaborators.each do |collaborator|%>
  <tr>
    <td>
      <%= collaborator[1].full_name %>
    </td>
    <td>
      <%= collaborator[1].email %>
    </td>
    <td>
      <%= collaborator[0].titlecase %>
    </td>
  </tr>
<% end %>
</table>

<h3>Invite a New Collaborator</h3>
<p>To add a new collaborator to your project:</p>
<ol>
<li>Make sure they have an account on Tandem</li>
<li>Select a level of access to grant your new collaborator</li>
<li>Enter their email and a custom message (optional) below to send an invite</li>
</ol> 


