<h2>Welcome to Tandem!</h2>

<p>Tandem is a simple to use project management system that allows you to create projects with tasks, with the option to organize tasks by section for more complex projects. Tandem supports multiple users, so invite your team to your projects and maintain control over their degree of access with three different levels of permissions.</p>

<p>Get started today by <%= link_to 'creating an account', new_user_path %> or <%= link_to "logging in", login_path %>!