/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Source Sans Pro', sans-serif;
 }

 #all-wrapper {
   width: 75%;
   margin: 0 auto;
   display: grid;
   grid-gap: 3px;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 130px auto 100px;
   grid-template-areas:
      "h h h h h h h h h h h h"
      "n n n c c c c c c c c c"
      "f f f f f f f f f f f f"
 }

 #header {
  width: 100%;
  padding-top: 30px;
  grid-area: h;
 }

 #nav-wrap {
  font-size: 1.2em;
  font-weight: 600;
  grid-area: n;
  margin-left: 66px;
 }

 #content-wrap {
   grid-area: c;
 }

 #footer {
   grid-area: f;
 }

 #logo {
  width: 275px;
 }

 h1, h2, h3 {
   font-weight: 600;
 }

 h4 {
  margin-block-end: 0.5em;
 }

 div.line {
   border-bottom: 1px #000 solid;
   width: 40%;
   margin: 20px 0;
 }

 /* LINKS */
 a {
  text-decoration: none;
  color: #EB4726;
  transition: color 0.2s linear;
}

a:hover {
  text-decoration: none;
  color: #000;
}

/* /////////////// FLASH DISPLAY //////////// */

div.error-message {
  color: #E3280B;
  font-size: 1.2em;
  font-weight: 600;
}

div.success-message {
  color: #08A854;
  font-size: 1.2em;
  font-weight: 600;
}

/* ////////////// TABLE STYLING //////////// */

table {
  width: 100%;
  table-layout: auto;
  margin-bottom: 30px;
}

th {
  text-align: left;
}

th, td {
  padding: 7px 4px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

tr.completed-content {
  color: #888888;
}



 /* /////// FORM STYLES //////// */
  
 form input[type="text"], form select, form input[type="password"], form input[type="email"], form input[type="date"], input#permission_user_email {
  padding: 12px 16px 10px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #888;
  box-sizing: border-box;
  font-size: 1em;
  margin: 6px 0;
  font-family: 'Source Sans Pro', sans-serif;
}

form input[type="text"]:focus, input#permission_user_email:focus, form select:focus, form input[type="password"]:focus, form input[type="email"]:focus,form input[type="date"]:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #EB4726;
}

div.icon input[type=button], div.icon input[type=submit] {
  background-color: transparent;
  border: 2px solid transparent;
  text-decoration: none;
  line-height: 1em;
  cursor: pointer;
  padding: 0px 12px;
  margin: 0px;
} 

form textarea {
  width: 50%;
  height: 5em;
  border: 2px solid #888;
  margin: 6px 0;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
}

form textarea:focus {
  outline: none;
  border: 2px solid #EB4726;
}

input[type=button], input[type=submit], div.button {
  background-color: #EB4726;
  border: none;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  text-decoration: none;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
}

div.field { 
  margin-bottom: 10px;
}

/*////// ICON STYLES ///////*/

.icon-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
  
.icon {
  cursor: pointer;
  flex: 0 1 auto;
  margin-left: 6px;
  width: 24px;
  height: 24px;
  border: none;
  transition: background-image 0.2s linear;
}

div.edit {
background-image: url(/images/edit.png);
background-size: contain;
position: relative;
}

tr.completed-content div.edit {
  background-image: url(/images/edit-gry.png);
  background-size: contain;
  position: relative;
}

div.edit:hover {
background-image: url(/images/edit-orng.png);
background-size: contain;
}


div.migrate {
  background-image: url(/images/migrate.png);
  background-size: contain;
}

div.migrate:hover {
  background-image: url(/images/migrate-orng.png);
  background-size: contain;
}


div.migrated {
  background-image: url(/images/migrate.png);
  background-size: contain;
  cursor: auto;
}

div.complete {
  background-image: url(/images/bullet.png);
  background-size: contain;
}

div.complete:hover {
  background-image: url(/images/x-orng.png);
  background-size: contain;
}

div.completed {
  background-image: url(/images/x-gry.png);
  background-size: contain;
  cursor: auto;
}

div.delete {
  background-image: url(/images/delete.png);
  background-size: contain;
}

tr.completed-content div.delete {
  background-image: url(/images/delete-gry.png);
  background-size: contain;
}

div.delete:hover {
  background-image: url(/images/delete-orng.png);
  background-size: contain;
}

div.add {
  background-image: url(/images/add-orng.png);
  background-size: contain;
  display: inline-block;
  margin-left: 0px;
  width: 20px;
  height: 20px;
  border: none;
  transition: background-image 0.2s linear;
}

div.add:hover {
  background-image: url(/images/add.png);
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  transition: background-image 0.2s linear;
}

