/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Source Sans Pro', sans-serif;
 }

 #all-wrapper {
   padding-top: 3%;
   width: 70%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 25% 75%;
 }

 nav {
  padding: 10% 0 0 10%;
  font-size: 1.2em;
  font-weight: 600;
 }

 #logo {
  width: 85%;
 }

 h1, h2, h3 {
   font-weight: 600;
 }

 h4 {
  margin-block-end: 0.5em;
 }

 div.line {
   border-bottom: 1px #000 solid;
   width: 40%;
   margin: 20px 0;
 }

 /* LINKS */
 a {
  text-decoration: none;
  color: #EB4726;
  transition: color 0.2s linear;
}

a:hover {
  text-decoration: none;
  color: #000;
}

/* TABLE */

table {
  width: 90%;
}

th {
  text-align: left;
}

th, td {
  padding: 1%;
  border-bottom: 1px solid #000;
}