<% if flash[:success] %>
    <div class="success-message">
        <%= flash[:success] %>
    </div>
<% elsif flash[:error] %>
    <div class="error-message">
        <%= flash[:error] %>
    </div>
<% elsif flash[:errors] %>
    <div class="error-message">
        <p>Could not save your information for the following <%= pluralize(flash[:errors].count, 'reason') %>:</p>
        <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
        </ul>
    </div>
<% end %>